*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: white;
}
*{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


/*        */
/* razdel */
/*        */

.razdel{
    background-color: black;
    height: 100px;
    display: block;
}

/*            */
/* navigation */
/*            */

nav{
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navi a{
    color: white;
    font-size: 22px;
    display: inline-block;
    margin-left: 30px;
}
.navi a:hover{
    color: rgb(129, 129, 129);
}
.name{
    color: white;
    font-size: 60px;
    display: inline-block;

}
.navi p{
    color: white;
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
}

/*        */
/* main 1 */
/*        */
.main1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main1>div{
    display: flex;
    flex-direction: column;
    margin-block: auto;
}
.main1 img{
    height: 700px;
    margin-top: 100px;
    display: block;
    float: left;
}
main h1{
    display: block;
    float: right;
    
    margin-bottom: 50px;
}
main p{
    display: block;
    float: right;

    margin-top: 3px;
    
    font-size: 18px;
}

/*        */
/* main 2 */
/*        */
.main2{
    padding-block: 100px;
}
.main2 h1{

    width: auto;
    display: inline;
    text-wrap: nowrap;
}
.main2 img{
    width: 220px;
    margin: 70px;
}
.main2img{
    width: 350px;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
}
.main2 p{
    display: block;
    position: absolute;
    margin-top: 3px;
    width: 200px;
    font-size: 18px;
    margin-left: 80px;
}

/*        */
/* main 3 */
/*        */

.main3{
    background-color: white;
    height: 800px;
}
.main3 h1{
    display: block;
    float: left;
    margin-left: 200px;
    margin-top: 130px;
    font-size: 40px;
    /* background-color: red; */
}
.main3 p{
    display: block;
    float: left;
    margin-left: 200px;
    margin-top: 3px;
    width: 600px;
    font-size: 30px;
    /* background-color: green; */
}
.list{
    display: block;
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    width: 590px;
    font-size: 18px;
    /* background-color: aqua; */
}
.main3 img{
    width: 700px;

    border-radius: 50px;
    box-shadow:0 0 20px black;
}

/*        */
/* footer */
/*        */

footer{
    background-color: black;
    height: 200px;
}
.footer h2{
    color: white;
    font-size: 30px;
    text-align: center;
}
.footer p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
.footer a:hover{
     color: rgb(129, 129, 129);
}
.Made{
    margin-top: 10px;
}